@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: 'handel gothic';
    src: url(../font/handel gothic.ttf) format('truetype');
}

/*reset*/
* {
    margin: 0;
    padding: 0;
}

/* Set the container (body in this case) to position relative */
body {
    position: relative;
    margin: 0; /* Remove default margin for full coverage */
  }
  
  /* Style the particle canvas to cover the entire container */
  #particles-js {
    position: absolute;
    width: 100%; /* Set the width to viewport width */
    height: 100%; /* Set the height to viewport height */
    background-color: rgb(236, 203, 248);
    z-index: -1; /* Ensure the particle canvas is behind the content */
  }
.aewf{
    display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: inherit;
}

a {
    text-decoration: none;
}
.aFont{
    color: black;
    text-decoration: none;
}
img {
    vertical-align: middle;
}

a img {
    border: none;
}

li {
    list-style: none;
}

address,
em,
i {
    font-style: normal;
}


/*Layout*/
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #333;
}

.wrap {
    overflow: hidden
}

.en {
    font-family: 'handel gothic', sans-serif;
}

.en_s {
    font-family: 'Dancing Script', cursive;
}

/*header*/
.innerHeader {
    background-color: white;
    max-width: 1520px;
    padding: 0 30px;
    height: 110px;
    line-height: 110px;
    margin: auto;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    margin-bottom: 150px;
}

.innerHeader .logo {
    float: left;
}

.innerHeader .logo a {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

/*gnb + sns*/
.innerHeader .mainMenu {
    float: right;
    overflow: hidden;
    position: relative;
}

span.bar {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 0;
    height: 3px;
    background: #e7e7e7;
    transition: all 0.4s;
}

/*gnb*/
.innerHeader .mainMenu .gnb {
    float: left;
}

.innerHeader .mainMenu .gnb li {
    float: left;
    margin: 0 20px;
}

.innerHeader .mainMenu .gnb li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #555;
}

/*sns*/
.innerHeader .mainMenu .sns {
    float: left;
    margin-left: 300px;
}

.innerHeader .mainMenu .sns li {
    float: left;
}

.innerHeader .mainMenu .sns li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

/*section.visual*/
section.visual {
    max-width: 1320px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 35px;
    margin-bottom: 150px;
}

section.visual .mainImg {
    float: left;
    width: 50%;
}

section.visual .mainImg img {
    width: 80%;
    margin: auto;
    border-radius: 20%;
}

section.visual .mainTxt {
    float: left;
    width: 50%;
    margin-top: 50px;
}

section.visual .mainTxt .tit {
    font-size: 72px;
}

section.visual .mainTxt .txt {
    padding: 50px 0 0 10px;
}

/*타이틀, 텍스트, 더보기 버튼 공통 클래스*/
.tit {
    font-size: 50px;
    line-height: 1.2;
    font-weight: normal;
}

.tit span {
    display: block;
}

.tit span b {
    font-weight: normal;
}

.tit span.en_s {
    font-size: 22px;
    font-weight: normal;
}

.tit span.gray {
    color: #ccc;
}

.txt h1 {
    font-size: 20px;
}

.txt p {
    color: #2b2a2a;
    line-height: 2;
    margin-bottom: 10px;
}

.txt p b {
    font-weight: bolder;
    font-size: 20px;
}

.txt p b span {
    font-size: 30px;
}

.txt p b a:hover {
    color: #7c6ff4;
}

/* section안에 .inner(공통 넓이 가이드) */
section .inner {
    width: 1320px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px;
    background-color: white;
    border: 2px solid black;
}

section .inner .box {
    float: left;
    width: 50%;
}

/* section.journal */
section.journal {
    position: relative;
    padding: 190px 0 120px;
}

section.journal .scroll {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    font-size: 10px;
    letter-spacing: 5px;
    writing-mode: vertical-rl;
    padding-top: 90px;
}

section.journal .scroll:before {
    content: '';
    position: absolute;
    height: 75px;
    width: 1px;
    background: #333;
    top: 0;
    left: 6px;
}

section.journal .inner .box .img {
    padding-top: 100px;
}

section.journal .inner .box .tit {
    margin-bottom: 40px;
}

section.journal .inner .box ul {
    border-top: 1px solid #e6e6e6;
    padding-top: 40px;
}

section.journal .inner .box ul li {
    margin-bottom: 30px;
    overflow: hidden;
}

section.journal .inner .box ul li h3 {
    float: left;
    width: 22%;
    font-size: 20px;
    font-weight: bold;
}

section.journal .inner .box ul li p {
    float: left;
    width: 78%;
    color: #000000;
    font-size: 15px;
}





/*section.service*/
section.service {
    padding: 190px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 가로 방향으로 가운데 정렬합니다. */
}

.card {
    flex-basis: 18rem;
    /* 카드의 너비를 18rem으로 고정합니다. */
    margin: 1rem;
    /* 카드 사이의 간격을 설정합니다. */
    height: 300px;
    /* 고정된 높이를 지정합니다. 이 높이에 이미지가 맞춰질 것입니다. */
    overflow: hidden;
    transition: transform 1s ease; 
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.5);
}
/* 모든 이미지를 100% 크기로 조정합니다. */
.card img {
    width: 100%;
    height: 100%;
    /* 이미지가 카드의 높이에 맞게 조정됩니다. */
    object-fit: cover;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* 이미지의 가로세로비를 유지하면서 적절히 자르거나 늘립니다. */
}
.card-body{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* 화면이 768px 이하인 경우에만 적용됩니다. */
@media (max-width: 768px) {
    .card {
        flex-basis: calc(100% - 2rem);
        /* 화면이 줄어들면 카드를 한 줄에 하나씩 배치합니다. */
        height: auto;
        /* 카드의 높이를 자동으로 설정합니다. */
    }
}
.card:hover {
    animation: move 1s ease 1 normal running; /* Apply the animation on hover, and run it three times */
    background-color: rgb(236, 203, 248);
    transform: scaleX(1.2) scaleY(1.2);
    /* color: white; */
    z-index: 3;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -60px);
    }
    
}


/*section.customer*/
section.customer {
    padding: 40px;
    text-align: center;
    background-color: black;
    margin-top: 30px;
}
.customer.on{
    background-color: white;
}
.customerTitle.on{
    color: black;
}

section.customer .tit {
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}

section.customer .txt {
    color: #777;
}



/*footer*/
footer {
    width: 1320px;
    padding: 20px 20px 0;
    margin: auto;
    background-color: white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

footer .top .tit {
    color: #e6e6e6;
    font-size: 62px;
    text-align: center;
    margin-bottom: 40px;
}

footer .bottom {
    padding: 40px 0 40px;
}

footer .bottom h1 {
    text-align: center;
    font-size: 50px;
}






/*공통 .tit 애니메이션 */
.tit.motion span {
    transform: translate3d(0, 0, 0)skewY(0deg);
    overflow: hidden;
}

.tit.motion span b {
    display: block;
    animation-name: textAni;
    animation-duration: 1.3s;
}

@keyframes textAni {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
        transform: translate3d(0, 40px, 0)skewY(8deg);
        transform-origin: top left;
    }
}

/*visual .txt애니*/
.txt.motion p {
    transform: translate3d(0, 0, 0)skewY(0deg);
    overflow: hidden;
}

.txt.motion p b {
    display: block;
    animation-name: textAni;
    animation-duration: 2s;
}

/*이미지 애니메이션*/
.img.motion {
    position: relative;
    animation-name: imgAni;
    animation-duration: 1s;
}

@keyframes imgAni {
    0% {
        transform: translateY(50px);
    }
}

.img.motion:after {
    content: '';
    width: 100%;
    height: 0%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: mask;
    animation-duration: 1.2s;
}

@keyframes mask {
    0% {
        height: 90%;
    }
}

section.team .img.motion:after {
    display: none;
}

/*section.service 배경색 애니*/
body {
    transition: all 0.4s;
}

body.on {
    background-color: black;
    transition: all 0.4s;
}

/* Update CSS for the welcome message */
.welcome-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Change the background color to white with 70% opacity */
    color: #fff;
    /* Change the text color to black */
    font-size: 50px;
    /* Increase the font size to your desired value */
    text-align: center;
    padding-top: 50vh;
    /* Vertically center the text */
    z-index: 9999;
    white-space: pre;
    /* Preserve new lines */
    padding-top: 40vh;
    /* Adjust the padding-top value to move the text higher */
    display: none;
    /* Hide the welcome message by default */
}

@media screen and (max-width: 768px) {
    .welcome-message {
        font-size: 20px;
        /* Adjust the font size as needed */
    }
}
/* Apply a basic style to the techbox container */
.techbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 150px;
  }
  
  /* Style each techimg container inside the techbox */
  .techimg {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin: 10px; /* Adjust the margin as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Set the background color */
    border-radius: 8px; /* Add some border radius for a rounded appearance */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  /* Style the SVG icons inside each techimg container */
  .techimg svg {
    width: 60%; /* Adjust the size of the SVG icon */
    height: 60%; /* Adjust the size of the SVG icon */
  }
  

.useTech {
    font-weight: 600;
}

.React {
    color: rgb(41, 121, 251);
    fill: rgb(41, 121, 251);
}

.Redux {
    color: purple;
    fill: purple;
}

.JS {
    color: rgb(210, 190, 54);
    fill: rgb(210, 190, 54);
}

.jQuery {
    color: rgb(255, 221, 0);
    fill: rgb(255, 221, 0);
}

.HTML {
    color: orange;
    fill: orange;
}

.CSS {
    color: rgb(6, 79, 196);
    fill: rgb(6, 79, 196);;
}
.mySql{
    fill: gray;
}
.githublink {
    color: black;
}
.githublink:hover{
    color: black;
}
#page{
    background-color: orange;
    border: 1px solid orange;
}
#github{
    background-color: gray;
    border: 1px solid gray;
}
.btnBox {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line on small screens */
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Add some space between the buttons */
  }
  
  /* Set equal width for both buttons inside .btnBox */
  .btnBox .btn {
    flex: 1; /* Make both buttons occupy equal widths */
  }


/*반응형웹제작*/

/*pc모드*/
@media screen and (max-width:1720px) {

    /*1720px~1401px사이*/
    .innerHeader {
        max-width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .innerHeader .mainMenu .sns {
        margin-left: 200px;
    }

    section.visual {
        max-width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    section.visual .mainTxt {
        margin-top: 50px;
    }

    section.visual .mainTxt .tit {
        font-size: 62px;
    }
}

/*1024 테블릿모드*/
@media screen and (max-width:1400px) {
   
    /*1400px~1024px사이*/
    section.visual .mainTxt {
        margin-top: 50px;
    }

    section.visual .mainTxt .tit {
        font-size: 46px;
    }

    section.visual .mainTxt .txt {
        padding: 20px 0px 0px 0px;
    }

    section .inner {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .img img {
        width: 100%;
    }

    /*section.journal{overflow: hidden;}*/
    section.journal .scroll {
        display: none;
    }


    section.journal .inner .box .img {
        width: 100%;
    }

    section.customer {
        padding: 40px 0;
    }

    .journal .inner .box h2 {
        text-align: center;
    }

    .journal .inner .box ul {
        text-align: center;
    }

    .journal .inner .box ul li {
        text-align: center;
    }

    footer {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
}

/*1024 이하 테블렛*/
@media screen and (max-width:1000px) {
   
    .innerHeader .logo a{
        margin-top: 10px;
        text-align: center;
    }
    /*768px 까지*/
    .innerHeader {
        height: 80px;
        line-height: 80px;
    }

    .innerHeader .mainMenu {
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }

    .menuOpen button.open {
        position: absolute;
        right: 2%;
        top: 0;
        transform: none;
        background: none;
        border: none;
        width: 70px;
        height: 80px;
        padding: 0;
        line-height: 80px;
        -ms-transform: rotate(90deg);
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        display: block;
    }

    .menuOpen button.open:before {
        display: none;
    }

    section.visual .mainImg {
        width: 100%;
        float: none;
    }

    section.visual .mainImg img {
        width: 100%;
    }

    section.visual .mainTxt {
        width: 100%;
        float: none;
        margin-top: 50px;
    }

    section .inner .box {
        float: none;
        width: 100%;
    }

    section.journal {
        padding: 80px 0;
    }


    section.journal .inner .box .img {
        margin: 0 auto 50px;
        padding-top: 0;
        width: 80%;
    }

    section.service {
        padding: 80px 0;
    }

    section.service .txt {
        margin-top: 20px;
    }

    section.service .inner .box.design {
        margin-top: 50px;
        width: 100%;
    }

    section.service .inner .box .img {
        margin: 50px auto 0;
        width: 90%;
    }

    section.service .inner .box .img {
        width: 70%;
    }

    section.service .inner .box.design .img {
        width: 70%;
        margin: 50px 0 0;
    }

    section.service .img.motion:after {
        background: #fff;
    }

    section.service .inner .box.design .tit {
        font-size: 35px;
    }

    section.customer {
        padding: 30px 0;
    }

    section.customer .tit {
        font-size: 30px;
    }

    section.team {
        padding: 80px 0;
        overflow: hidden
    }


    section.team .inner .box.left {
        padding-right: 0;
        overflow: hidden;
    }

    section.team .inner .box .img {
        margin-top: 50px;
        width: 70%;
        float: right;
        clear: both;
    }

    section.team .inner .box:nth-child(2) .img {
        width: 100%;
        margin: 50px 0;
    }

    section.team .inner .box .tit {
        margin-top: 0;
        clear: both;
    }

    .techbox{
        padding-top: 10px;
        padding-bottom: 50px;
    }

    footer .bottom h1 {
        text-align: center;
        font-size: 40px;
    }

}

/*모바일해상도 767px*/
@media screen and (max-width:767px) {
    body {
        font-size: 13px;
    }
    .card:hover{
        transform: scaleX(1.07) scaleY(1.07);
    }
    .innerHeader .logo a{
        margin-top: 0;
        text-align: center;
    }
    .innerHeader {
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
    }
    .txt p b {
        font-weight: bolder;
        font-size: 13px;
    }
    .menuOpen button.open {
        height: 60px;
        line-height: 60px;
        width: 52px;
        display: block;
    }

    .menuOpen button.open img {
        height: 38px;
        display: block;
    }

    .menuOpen .menuWrap .tit {
        font-size: 35px;
        left: 20px;
    }

    .menuOpen .menuWrap .close:nth-child(1) {
        top: 20px;
        left: 20px;
        transform: none;
    }

    .menuOpen .menuWrap .close.en {
        display: none;
    }

    .menuOpen .menuWrap .tit li a:hover,
    .menuOpen .menuWrap .tit li a:focus {
        transform: translateX(30px);
        color: #1b1b1b;
    }

    .menuOpen .menuWrap.on:before {
        left: 20%;
    }

    section.visual {
        padding: 0 20px;
    }

    .tit {
        font-size: 30px;
    }

    section.visual .mainTxt .tit {
        font-size: 31px;
    }

    .tit span.en_s {
        font-size: 18px;
    }

    .txt {
        text-align: justify;
    }

    .moreBtn {
        font-size: 12px;
    }

    section .inner {
        padding: 0 20px;
    }

    section.journal {
        padding: 50px 0;
    }

    section.journal .inner .box .img {
        width: 100%;
        margin-bottom: 30px;
    }

    section.journal .inner .box .tit {
        margin-bottom: 20px;
    }

    section.journal .inner .box ul {
        padding-top: 20px;
        padding-left: 0;
    }

    section.journal .inner .box ul li {
        margin-bottom: 20px;
    }

    section.journal .inner .box ul li h3 {
        width: 100%;
        margin-bottom: 10px;
    }

    section.journal .inner .box ul li p {
        font-size: 12px;
        width: 100%;
    }

    section.journal .inner .box .moreBtn {
        margin-left: 0;
    }

    section.service {
        padding: 50px 0;
    }

    section.service .inner .box .img {
        width: 100%;
        margin-top: 30px;
    }

    section.service .inner .box.design .img {
        width: 100%;
    }



    section.service .inner .box.design .img.motion:after {
        background: #fff;
    }

    section.service .inner .box.design {
        padding-top: 50px;
    }

    section.service .inner .box.design .tit {
        font-size: 25px;
        margin-bottom: 10px;
    }

    section.customer {
        padding: 20px 20px;
    }

    section.customer .tit {
        font-size: 25px;
    }

    section.team {
        padding: 50px 0;
    }


    section.team .inner .box .txt {
        margin: 30px 0 10px;
    }

    section.team .inner .box .img {
        margin-top: 30px;
    }

    section.team .inner .box:nth-child(2) .img {
        margin: 30px 0;
    }

    footer {
        padding: 0 20px;
    }


    footer .bottom h1 {
        text-align: center;
        font-size: 30px;
    }


}

/*320모바일*/
@media screen and (max-width:320px) {
    body {
        font-size: 12px;
    }

    .tit span.en_s {
        font-size: 16px;
    }

    section.visual .mainTxt .tit,
    .tit,
    footer .top .tit {
        font-size: 27px;
    }

    .menuOpen .menuWrap .tit {
        font-size: 27px;
    }

    section.journal .inner .box ul li h3 {
        font-size: 14px;
    }



    section.service .inner .box.design .tit {
        font-size: 22px;
    }

    footer .bottom h1 {
        text-align: center;
        font-size: 20px;
    }

}